<div>
  <!-- <form [formGroup]="dynamicForm" > -->
  <mat-card *ngFor="let config of currentConfig">
    <query-builder   [(ngModel)]='$uiExpression' [config]='config' (onChangeCallback)="onchange()" [operatorMap]='myOperatorMap'>
      

    </query-builder>

  </mat-card>
<!-- </form> -->
  <!--  <ng-container><textarea class="output">{{$uiExpression | json}}</textarea></ng-container>
   -->
  <button type="submit" class="btn pull-right" style="background-color: #fd9b16;margin-top: 30px;" 
    (click)="passData($uiExpression)">Submit</button>
  <div class="clearfix"></div>

</div>