<div class="logo">
  <a class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Research App
  </a>

</div>

<!-- 
<div class="sidebar-wrapper">
        <ul class="nav" cdkDropList id="drag-list"  (cdkDropListDropped)="drop($event)">
             <li routerLinkActive="active" *ngFor="let menuItem of Tables$" 
             class="{{menuItem.class}} nav-item" 
             cdkDrag>
            <a class="nav-link" [routerLink]="[menuItem.table_name]">
              <p >{{menuItem.table_name | titlecase}}</p>
            </a>
    
          </li>
    </ul>
</div>
 -->

<div class="sidebar-wrapper" id="dragListTable" cdkDropList [cdkDropListConnectedTo]="['dropListTable']">

  <ul class="nav">

    <!-- <mat-form-field>
      <input type="text" placeholder="Search Attributes"  aria-label="State" matInput [matAutocomplete]="auto" [formControl]="myForm">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let menuItem of filteredStates | async" [value]=" menuItem.table_name | titlecase " (onSelectionChange)=onSelectedState(menuItem) cdkDrag
          [cdkDragData]="menuItem">
          {{menuItem.table_name | titlecase}}
          
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->

    <div class="container">
      <mat-form-field>
        <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
          </mat-option>
    
          <mat-option *ngFor="let bank of tableMap " [value]="bank">
            {{bank.table_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

     <li routerLinkActive="active" *ngFor="let menuItem of tableMap  " cdkDrag [cdkDragData]="menuItem">
      <a class="nav-link" [routerLink]="[menuItem.table_name]">
        <p>{{menuItem.table_name | titlecase}}</p>
      </a>

    </li> 
  </ul>

  
</div>