<div class="container ">

    <div class="col-lg-12 col-md-5">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Drop Attributes </h4>
            </div>

            <div class="card-body ">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group bmd-form-group">

                                            <div class="navbar-wrapper">

                                                <div id="dropListTable" class="rounded"
                                                    style=" border: 1px solid #fd9b16" cdkDropList
                                                    [cdkDropListConnectedTo]="['dragListTable']"
                                                    (cdkDropListDropped)="drop($event)"
                                                    cdkDropListOrientation="horizontal">

                                                    <app-querybuilder [tableMapDrop]="tableMapDrop"></app-querybuilder>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                           <!--  <button type="submit" class="btn pull-right"
                                style="background-color: #fd9b16;">Search</button>
                            <div class="clearfix"></div> -->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>