<div class="container ">

    <div class="col-lg-12 col-md-5">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Drop Attributes </h4>
            </div>

            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="drag-container">
                            <div id="dropListTable"  class="item-list" cdkDropList
                                [cdkDropListConnectedTo]="['dragListTable']" (cdkDropListDropped)="drop($event)"
                                cdkDropListOrientation="horizontal">


                                <div *ngIf="displayElement">
                                    <!-- <app-querybuilder [tableMapDrop]="tableMapDrop" #child (onSubmitData)="handleJsonDataChild($event)"></app-querybuilder> -->
                                    <app-querybuilder  [tableMapDrop]="tableMapDrop" [isSubmitRequest]=isSubmitRequest
                                        (onSubmitData)="handleJsonDataChild($event)" ></app-querybuilder>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                 <button type="button" class="btn pull-right" (click)="getJsonDataFromChild()"
                    style="background-color: #fd9b16;margin-top: 30px;;margin-right: 10px;">Submit</button> 
                   <!-- <mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async"></mat-spinner>  -->
                <button (click)="handleCloseButton(false)" type="button" class="btn pull-right"
                    style="background-color: #fd9b16;margin-top: 30px;;margin-right: 10px;">clear Search</button>

            </div>
        </div>
    </div>


    </div>